* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --rich-black-fogra-29: hsl(210, 26%, 7%);
    --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
    --independence_30: hsla(245, 17%, 29%, 0.3);
    --gray-x-11-gray: hsl(0, 0%, 73%);
    --champagne-pink: hsl(23, 61%, 86%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --deep-saffron: hsl(32, 100%, 59%);
    --dark-orange: hsl(28, 100%, 58%);
    --desert-sand: hsl(23, 49%, 82%);
    --isabelline: hsl(38, 44%, 96%);
    --gainsboro: hsl(0, 0%, 87%);
    --tangerine: hsl(31, 84%, 50%);
    --cinnabar: hsl(3, 90%, 55%);
    --black_95: hsla(0, 0%, 0%, 0.95);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);
    --primary-yellow: #ff9d2e;
    --333: #333;
    --primary-brown-color: #800020;
    --brown-hover-color: #5a0014;
    --bg-color: #f8f9fa;
    --bg-border-color: #dee2e6;
    --non-veg: #ff5e5e;
    --veg: #28a745;
    --777: #777;
}

body {
    background-color: rgb(238, 238, 238);
}

section {}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#row {
    display: flex;
    justify-content: space-between;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
    animation: appear 2s ease-in-out;
}

.section-header h2 {
    color: #000;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p {
    color: #000;
}

.contact-info {
    width: 45%;
    color: #000;
    animation: slideInFromLeft 2s ease-out;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #00bcd4;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: .2s ease-in-out;
}

.contact-info-icon>i {
    font-size: 30px;
    line-height: 70px;
    color: #FFF;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #000;
    font-size: 1em;
}

.contact-form {
    background-color: #fff;
    width: 45%;
    animation: slideInFromRight 2s ease-out;
}

.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #00bcd4;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
    background: #FFF;
    color: #00bcd4;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-190px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(190px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}